*.pyc
*/__pycache__/*
*/.DS_Store
*/.idea/*
*/.vscode/*
*/.pytest_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.mypy_cache/*
*/.tox/*
*/.nox/*
*/.hypothesis/*
*/.pytest_cache/*
*/.pytest_cache/

# Translations  
*/locale/*
*/translations/*

# Django stuff:
*/staticfiles/*
*/media/*
staticfiles
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
media
db.sqlite3

# exclude django migrations
*/migrations/*

node_modules

# exclude .env file

.env
package-lock.json
